pip==20.3.4; python_version == '2.6' or python_version=='2.7'
pip==22.2.2; python_version > '3.0'
infoblox-client
pytest
pytest-xdist
mock
pytest-mock
pytest-cov==2.8.0
coverage
pygobject
launchpadlib
