---
- name: Infoblox Member Configuration
  hosts: localhost
  vars:
    nios_provider:
      host: 10.36.118.2
      username: cloudadmin
      password: admin

  connection: local
  tasks:
    - name: Create Nios DTC SNMP monitor Test
      infoblox.nios_modules.nios_dtc_monitor_snmp:
        name: snmp_monitor
        comment: Created with Ansible
        state: present
        provider: "{{ nios_provider }}"
