---
- name: Infoblox Member Configuration
  hosts: localhost
  vars:
    nios_provider:
      host: 10.36.118.2
      username: cloudadmin
      password: admin

  connection: local
  tasks:
    - name: Delete Nios DTC TCP monitor Test
      infoblox.nios_modules.nios_dtc_monitor_tcp:
        name: tcp_monitor
        state: absent
        provider: "{{ nios_provider }}"
